{% macro nav(website_title) %}
<nav id="header" class="w-full z-10 top-0 shadow-md mx-0">
  <div id="progress" class="top-0"></div>
  <!-- <div class="w-full max-w-5xl mx-auto flex flex-wrap items-center justify-between mt-0 py-2  sm:bg-green-900 md:bg-red-900 lg:bg-blue-900 bg-yellow-900"> -->
  <div class="w-full max-w-4xl mx-auto flex sm:flex-nowrap flex-wrap items-center justify-between mt-0 py-2">
    <div class="pl-4">
      <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold" href="{{ config.base_url }}">
        {{ website_title }}
      </a>
    </div>

    <div class="w-full flex-grow sm:flex sm:items-center flex-wrap sm:flex-nowrap sm:w-auto sm:block mt-2 sm:mt-0 bg-transparent z-20" id="nav-content">
      <ul class="list-reset flex flex-wrap sm:justify-end flex-1 items-center">
          {# Get the upper section -#}
          {% set dot_lang = macros::dot_lang() -%}
          {% set index_section = get_section(path="_index"~dot_lang~".md", metadata_only=true) -%}
          {% for ssection in index_section.subsections -%}
            {% set ssection_data = get_section(path=ssection, metadata_only=true) -%}
            {% if not ssection_data.extra.hidden_nav -%}
            <li class="mr-3 text-sm">
              <a href="{{ get_url(path=ssection_data.path, trailing_slash=false) }}" class={%if current_path and current_path is starting_with(ssection_data.path) %}"inline-block py-2 px-4 text-sky-600 font-bold no-underline"{% else %}"inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"{%endif%}>
                {{ssection_data.title}}
              </a>
            </li>
            {% endif -%}
          {% endfor -%}
          {% if lang == config.default_language -%}
            {% set menu_items = config.extra.menu_items -%}
          {% else -%}
            {% set menu_items = config.extra[lang].menu_items -%}
          {% endif -%}
          {% for item in menu_items -%}
          <li class="mr-3 text-sm">
            <a href={{ get_url(path=item.path, trailing_slash=false, lang=lang) }} class={%if current_path and current_path is starting_with(item.path) %}"inline-block py-2 px-4 text-sky-600 font-bold no-underline"{% else %}"inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4"{%endif%}>
              {{item.name}}
            </a>
          </li>
          {% endfor -%}
          {% set translations = section.translations | default(value=page.translations|default(value="")) -%}
          {% for t in translations -%}{% if lang != t.lang -%}
          <li class="mr-3 text-sm">
            <a href="{{t.permalink}}" class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-2 px-4">{{t.lang}}</a>
          </li>
          {% endif -%}{% endfor -%}
      </ul>
    </div>
  </div>

</nav>
{% endmacro %}
