{% macro publication_summary(page) -%}
{% set bibtex_path = page.path ~ "bib" -%}
{% set bibtex = load_data(path=bibtex_path, required=false, format="bibtex") -%}

{% if bibtex -%}
  {% set bibdata = bibtex.bibliographies[0].tags -%}
{% endif -%}

{# {% if bibtex %}
  {% for k, v in bibtex.bibliographies[0] %}
  <p> lol: {{ k }} {{ v }} </p>
  {% endfor %}
{% endif %} #}

<div class="py-4 px-8 bg-white shadow-lg rounded-lg hover:shadow-xl">
  <a  href="{{ page.permalink | safe }}">

    <h2 class="text-1xl font-bold text-blue-600 hover:text-blue-800 visited:text-purple-600">{{ page.title }}</h2>
    <div class="pb-2">
      <p class="text-sm text-slate-400">
        {% if page.extra.authors -%}
        {% for author in page.extra.authors -%}
          {{ author }}{% if loop.last -%}.{% else -%},{% endif -%}
        {% endfor %}
        {% elif bibdata.author -%}
          {{ bibdata.author }}
        {% else %}
          Unknown author. Refer to the documentation.
        {% endif -%}
      </p>
    </div>

    {% if bibdata.abstract -%}
    <p class="text-sm"> {{ bibdata.abstract | safe | truncate(length=250) }} </p>
    {% endif -%}
    <p class="text-sm text-slate-400 pb-4">{{ page.date |  date(format="%B %Y") }}  {% if bibdata.booktitle %} • {{  bibdata.booktitle }}{% endif %}</p>

    {% if page.extra.url_pdf %}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.extra.url_pdf }}"> pdf </a>
    {% elif page.extra.pdf -%}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.path ~ page.extra.pdf }}"> pdf </a>
    {% endif -%}

    {% if page.extra.url_slides %}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.extra.url_slides }}"> slides </a>
    {% elif page.extra.slides -%}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.path ~ page.extra.slides }}"> slides </a>
    {% endif -%}
    {% if bibdata and bibdata.url -%}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{bibdata.url}}"> url </a>
    {% endif -%}
  </a>
</div>
{% endmacros %}
