{% macro bibpath(page) -%}
{% for asset in page.assets -%}
  {% if asset is ending_with("bib") -%}{{asset}}{% break -%}{% endif -%}
{% endfor -%}
{% endmacro -%}

{% macro title(page, bibtags) -%}
  {% set bibtitle = bibtags.title | default(value="") -%}
  {{page.title | default(value=bibtitle)}}
{% endmacro -%}

{% macro authors(page, bibtags) -%}
  {% if page.extra.authors -%}
    {{ page.extra.authors | join(sep=", ") }}
  {% elif bibtags.author -%}
    {{ bibtags.author | replace(from=" and", to=",") }}
  {% else -%}
    Unknown author. Refer to the documentation.
  {% endif -%}
{% endmacro -%}

{% macro abstract(page, bibtags) -%}
  {% if page.extra.abstract -%}
    {{ page.extra.abstract | markdown(inline=true) | safe }}
  {% elif bibtags.abstract -%}
    {{ bibtags.abstract }}
  {% endif -%}
{% endmacro -%}

{% macro details(page, bibtags, sep=", ") -%}{#" • "#}
  {% if page.extra.publication  -%}
    {% if page.extra.publication is string -%}
      {{page.extra.publication | replace(from=", ", to=sep) -}}
    {% else -%}
      {{page.extra.publication | join(sep=sep) -}}
    {% endif -%}
  {% else -%}
    {% if bibtags.booktitle -%}{{ bibtags.booktitle }}{{ sep }}{% endif -%}
    {% if bibtags.journal -%}{{ bibtags.journal }}{{ sep }}{% endif -%}
    {% if bibtags.volume -%}{{ trans(key="volume", lang=lang) }} {{ bibtags.volume }}{{ sep }}{% endif -%}
    {% if bibtags.number -%}{{ trans(key="number", lang=lang) }} {{ bibtags.number }}{{ sep }}{% endif -%}
    {% if bibtags.pages -%}{{ trans(key="pages", lang=lang) }} {{ bibtags.pages | replace(from="--", to="&ndash;") | safe }}{{ sep }}{% endif -%}
    {{ page.date | date(format="%B %Y") -}}
    {% if bibtags.doi -%}{{ sep }} <a href="https://www.doi.org/{{bibtags.doi}}" target="
    ">doi: {{ bibtags.doi }}</a>{% endif -%}
  {% endif -%}
{% endmacro -%}

{% macro summary(page) -%}
{% set bibdata = "" -%}
{% set bibtex_path = publication::bibpath(page=page) -%}
{% if bibtex_path -%}
{% set bibtex = load_data(path=bibtex_path, required=false, format="bibtex") -%}
{% if bibtex -%}{% set bibdata = bibtex.bibliographies[0].tags -%}{% endif -%}
{% endif -%}

{# {% if bibtex %}
  {% for k, v in bibtex.bibliographies[0] %}
  <p> lol: {{ k }} {{ v }} </p>
  {% endfor %}
{% endif %} #}

<div class="py-4 px-8 bg-white shadow-lg rounded-lg hover:shadow-xl">
  <a  href="{{ page.permalink | safe }}">

    <h2 class="text-1xl font-bold text-blue-600 hover:text-blue-800 visited:text-purple-600">{{publication::title(page=page, bibtags=bibdata)}}</h2>
    <div class="pb-2">
      <p class="text-sm text-slate-400">{{publication::authors(page=page, bibtags=bibdata)}}</p>
    </div>

    {% if page.description -%}
    <p class="text-sm"> {{ page.description | markdown(inline=true) | safe }} </p>
    {% elif bibdata.abstract -%}
    <p class="text-sm"> {{ bibdata.abstract | safe | truncate(length=250) }} </p>
    {% endif -%}
    <p class="text-sm text-slate-400 pb-4">{{publication::details(page=page, bibtags=bibdata)}}</p>

    {% if page.extra.url_pdf %}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.extra.url_pdf }}"> pdf </a>
    {% elif page.extra.pdf -%}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ config.base_url ~ page.path ~ page.extra.pdf }}"> pdf </a>
    {% endif -%}

    {% if page.extra.url_slides %}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.extra.url_slides }}"> slides </a>
    {% elif page.extra.slides -%}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ config.base_url ~ page.path ~ page.extra.slides }}"> slides </a>
    {% endif -%}
    {% if bibdata and bibdata.url -%}
    <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{bibdata.url}}"> url </a>
    {% endif -%}
  </a>
</div>
{% endmacros %}
