{% extends "base.html" %}

{% block content %}
<div class="container max-w-3xl mx-auto">
  <div class="pt-8 flex">
    <h1 class="grow font-bold font-sans break-normal text-gray-900 text-3xl">{{ page.title }}</h1>
  </div>
  <div class="mb-8"></div>

  <article class="prose prose-indigo max-w-3xl">
    {{ macros::toc() }}
    {{ page.content | safe }}
    {% if page.extra.external_link %}<p><a href="{{page.extra.external_link | safe}}" target="_blank">{{page.extra.external_link | safe}}</a></p>{% endif -%}
  </article>
</div>
{% endblock content %}
