{% extends "base.html" %}

{% block title -%}
{% set section =  get_section(path=page.ancestors[1], metadata_only=true)  -%}
<title>{% if section -%}{{ section.title }} | {% endif %} {{ config.title }}</title>
{% endblock title -%}


{% block nav %}
  {% set section = get_section(path=page.ancestors[1], metadata_only=true) %}
  {{ macros_nav::nav(website_title=config.title, active_item=section.title) }}
{% endblock nav %}

{% block content %}

{% set bibtex_path = publication::bibpath(page=page) -%}
{% set bibdata = "" -%}
{% if bibtex_path -%}
{% set plaintex = load_data(path=bibtex_path, required=false, format="plain") -%}
{% if plaintex %}
  {% set bibtex = load_data(path=bibtex_path, required=false, format="bibtex") -%}
  {% set bibdata = bibtex.bibliographies[0].tags -%}
{% endif -%}
{% endif -%}

<div class="container max-w-3xl mx-auto px-4">
  <div class="pt-8 flex-col mb-8">
    <h1 class="grow font-bold font-sans break-normal text-gray-900 text-3xl">{{publication::title(page=page, bibtags=bibdata)}}</h1>
    <div class="grow">
      <p class="text-sm text-slate-400">{{publication::authors(page=page, bibtags=bibdata)}}</p>
    </div>
    <div class="grow">
      <p class="text-sm text-slate-400">{{publication::details(page=page, bibtags=bibdata)}}</p>
    </div>
    <div class="grow pt-2"> 
      {% if page.extra.url_pdf %}
      <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.extra.url_pdf }}"> pdf </a>
      {% elif page.extra.pdf %}
      <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ config.base_url ~ page.path ~ page.extra.pdf }}"> pdf </a>
      {% endif %}


      {% if page.extra.url_slides %}
      <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ page.extra.url_slides }}"> slides </a>
      {% elif page.extra.slides %}
      <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" target="_blank" href="{{ config.base_url ~ page.path ~ page.extra.slides }}"> slides </a>
      {% endif %}

      {% if bibdata and bibdata.url %}
      <a class="rounded-md border-solid border border-blue-600 inline-flex items-center text-blue-600 justify-center px-2 py-1 mr-2 text-xs font-bold" href="{{bibdata.url}}"> url </a>
      {% endif %}
    </div>
  </div>

  {% if page.description -%}
  <article class="prose prose-indigo max-w-3xl pb-4">
    {{ page.description | markdown(inline=true) | safe }}
  </article>
  {% endif -%}
  {% set abstract = publication::abstract(page=page, bibtags=bibdata) -%}
  {% if abstract -%}
  <p class="font-bold">{{trans(key="Abstract", lang=lang)}}</p>
  <article class="prose prose-indigo max-w-3xl pb-4">{{abstract | safe}}</article>
  {% endif -%}

  {% if plaintex -%}
  <div>
    <p class="font-bold">Bibtex</p>
    <div class="prose prose-indigo pb-4">
      <pre ><code class="select-all">{{ plaintex | safe }}</code></pre>
    </div>
  </div>
  {% endif -%}

</div>
{% endblock content %}
